:root {
    --primary-text-color: #757575;
    --secodary-text-color: #ffffff;
    --title-text-color: #212121;
    --logo-color: #2196F3;
    --logo-header-color: #000000;

    --primary-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --head-background-color: #ffffff;
    --button-active: #188CE8;
    --border-header: #ececec;
    --border-cards: #eeeeee;

    --primary-icon-color: #AFB1B8;

    --card-set-gap: 30px;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
    /* font-weight: 400; */
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* navigation */

.page-header {
    background-color: var(--head-background-color);
    border-bottom: 1px solid var(--border-header);
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo-link-header,
.logo-link-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    margin-right: 93px;
}

.logo-link-header {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-header {
    color: var(--logo-header-color);
}

.logo-footer {
    color: var(--secodary-text-color);
}

.list {
    list-style-type: none;
}

.cont-nav {
    display: flex;
    margin-left: auto;
}

.nav {
    display: flex;
}

.site-nav {
    display: flex;
}

.list-nav:not(:last-child), .list-cont:not(:last-child) {
    margin-right: 50px;
}

.link {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    display: block;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-contact {
    display: flex;
    justify-content: center;
    color: var(--primary-text-color);
}

.current {
    color: var(--logo-color);
    position: relative;
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--logo-color);
}

.icon-cont {
    display: inline-flex;
    fill: currentColor;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
    color: var(--logo-color);
}

.link:hover .icon-cont,
.link:focus .icon-cont {
    fill: var(--logo-color);
}

/* hero */

.hero {
    background-color: var(--primary-background-color);
    margin: 0;
    padding-top: 200px;
    text-align: center;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
    background-repeat: no-repeat;
}

.hero-title {
    width: 696px;
    display: block;
    margin: 0 auto var(--card-set-gap);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--secodary-text-color);
    text-transform: uppercase;
}

.hero-btn {
    display: inline-block;
    padding: 10px 32px;
    min-width: 216px;
    height: 50px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background: var(--logo-color);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: 700;
    color: var(--secodary-text-color);
    cursor: pointer;
}

.hero-btn:active {
    background: var(--button-active);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(47, 48, 58, 0.5);
    z-index: 1;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: inherit;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-height: 581px;
    min-width: 528px;
    background-color: var(--head-background-color);
    border-radius: 4px;
    z-index: 2;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.5);
    /* opacity: 0;
    pointer-events: none; */
}

.close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.close {
    width: 18px;
    height: 18px;
}

/* особливості */

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.list-ftrs {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.list-ftrs-text {
    width: 270px;
    margin-right: var(--card-set-gap);
}

.list-ftrs-text:last-child {
    margin-right: 0;
}

.icon-decor {
    display: block;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

/* .list-ftrs-text::before {
    display: block;
    content: '';
    height: 120px;
    background-color: var(--secondary-background-color);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.icon-clock::before {
    background-image: url(../images/clock.svg);
}

.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
} */

.title-ftrs {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.text-ftrs {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-text-color);
}

/* чим займаємось */

.portf-sectn {
    padding-top: 0px;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

.portf {
    display: flex;
}

.portf-img {
    position: relative;
}

.portf-img:not(:last-child) {
    margin-right: var(--card-set-gap);
}

.portf-img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    color: var(--secodary-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    padding: 27px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/* наша команда */

.our-team {
    width: 100%;
    left: 0px;
    background: var(--secondary-background-color);
}

.list-team-card {
    display: flex;
}

.team-card {
    text-align: center;
    background-color: var(--secodary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-card:not(:last-child) {
    margin-right: var(--card-set-gap);
}

.team-crd-content {
    padding: 30px 0;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.team-work { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
}

.networks {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.link-network {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-network:hover,
.link-network:focus {
    background-color: var(--logo-color);
}

.list-network:not(:last-child) {
    margin-right: 10px;
}

.icon {
    fill: var(--primary-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-network:hover .icon,
.link-network:focus .icon {
    fill: var(--secodary-text-color);
}

/* постійні клієнти */

.company {
    display: inline-flex;
}

.list-company {
    width: 170px;
    height: 92px;
}

.list-company:not(:last-child) {
    margin-right: var(--card-set-gap);
}

.icon-company {
    width: 106px;
    height: 60px;
    align-items: center;
    fill: var(--primary-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-company {
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-company:hover,
.link-company:focus {
    border-color: var(--logo-color);
}

.link-company:hover .icon-company,
.link-company:focus .icon-company {
    fill: var(--logo-color);
}

/* фільтр */

.main-portfolio {
    background-color: var(--head-background-color);
}

.filter {
    list-style-type: none;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    height: 38px;
    background: var(--secondary-background-color);
    border-radius: 4px;
    padding: 6px 22px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter-btn:hover, .filter-btn:focus {
    color: var(--secodary-text-color);
    background-color: var(--logo-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* портфоліо */

.list-portfolio {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
    
}

.portf-item {
    width: 370px;
    background: var(--secodary-text-color);
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.link-portf {
    text-decoration: none;
    color: var(--title-text-color);
    font-weight: 500;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portf-item-img {
    position: relative;
    overflow: hidden;
}

.portf-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.link-portf:hover .text-inform,
.link-portf:focus .text-inform {
    opacity: 1;
    transform: translate(0);
}

.link-portf:hover, .link-portf:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
    padding: 20px 24px;
    border: 1px solid var(--border-cards);
}

.title-portf {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.text-portf {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
}

.text-inform {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    color: var(--secodary-text-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    opacity: 0;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.address-ft {
    width: 100%;
    left: 0px;
    background-color: var(--primary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.cont-footer {
    display: flex;
    align-items: baseline;
}

.cont-address {
    margin-right: 70px;
    width: 231px;
}

.contact {
    margin-top: 20px;
    background-color: var(--primary-background-color);
}

.main-address {
    font-style: normal;
    padding: 0;
    line-height: 1.7;
    list-style-type: none;
}

.list-address:not(:last-child) {
    margin-bottom: 9px;
}

.link-address, .link-address-contact {
    color: var(--secodary-text-color);
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address-contact {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-address:hover, .link-address:focus,
.link-address-contact:hover, .link-address-contact:focus {
    color: var(--logo-color);
}

.friend {
    text-transform: uppercase;
    color: var(--secodary-text-color);
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 20px;
}

.list-cont-net:not(:last-child) {
    margin-right: 10px;
}

.list-net {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-net:hover, .list-net:focus {
    background-color: var(--logo-color);
}

.icon-cont-net {
    width: 20px;
    height: 20px;
    fill: var(--secodary-text-color);
}
